.scan_pay{
    position: absolute;
    transition: transform 1s ease-in forwards;
}
.scan_pay img{
    width: 250px;
    height: 400px;
    margin-top: -100vh;
    padding: 15vh;
    animation: left-to-right 2s forwards;
}
@keyframes left-to-right{
    100%{
        transform: translateY(15vh) scale(1.5,1.5);
    }
}